 
 /*Import*/
 @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 
 body {
    background-color: #023047;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
} 
.overlay-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color:#fff;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}
 
@media(max-width:991px){
    .sidebar{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
    
}
.centered-text{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px #000;
    
    
}
.scroll {
   
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    
}

/*Footer Section*

.section-subscribe{
    padding: 5em 0;
}
.form-control {
    outline: none;
    -webkit-box-shadow: none !important;
    height: 50px;
}
.form-control:focus{
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}
.form-control:focus, .form-control:active {
    outline: none;
}
.btn {
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}
.btn.btn-secondary {
    color: #fff;
    border-width: 2px;
    background: #bc5148;
    border-color: #bc5148;
    padding: 10px;
}
.site-footer{
    padding: 5em 0;
    background: #bc5148;
    font-size: 14px;
    color: #fff;
    
}
.site-footer p:last-child{
    margin-bottom:0;
}
.site-footer a{
    color:#ffc107;
    border-bottom: 1px solid transparent;
}
.site-footer a:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.site-footer h2 {
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: #fff;
}
.site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
}
.footer-social a {
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255,255,255,0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.footer-social a:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}
.footer-social .fa {
    margin-top: 6px;
}

/*Fade-in-text animation*/

.fade-in-text {
    font-family: Arial;
    font-size: 40px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  /*Body Section*/

/*Cloud1*/
.left {
    position: absolute;
    bottom: 60%;
    right: 50%;
    transform: translate(-50%, 50%);
}
#cloud {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation: move 3s infinite;
  }
  
  #cloud:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
  #cloud:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
  }
  
  @keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
  }

  /*cloud2*/
  .right{
    position: absolute;
    top: 100%;
    left: 72%;
    transform: translate(-50%, -50%);
  }
  #cloud2 {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation: move 3s infinite;
  }
  
  #cloud2:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
  #cloud2:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
  }
  
  @keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
  }

  /*CLOUD3*/
  .left1{
    position: absolute;
    bottom: -120%;
    right: 60%;
    transform: translate(-50%, -50%);
  }
  #cloud3 {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation: move 3s infinite;
  }
  
  #cloud3:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
  #cloud3:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
  }
  
  @keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
  }
 
  

/*SWIPER JS */ 
  swiper-container {
    margin: 2px;
    padding: 2px;
   
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  swiper-slide img {
    display: block;
    max-width: 30%;
    max-height: 30%;
    object-fit: cover;
    border-radius: 10px;
  }
/*SWIPER JS */

/*BIO MEMBERS*/

.swiper{
  width: 250px;
  height: 450px;
}
.swiper-slide{
  width: 250px;
  height: 350px;
  box-shadow: 10px 5px 20px rgba(0,0,0,0.1);
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  

}
.swiper-slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide .info{
  position: absolute;
  width: 90%;
  background: rgba(34,36,41,0.8);
  border-top: 3px solid #fff;
  padding: 15px 25px;
  bottom: 25px;
  right: 0;
  border-radius: 15px 0 0 15px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.swiper-slide .info h3{
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}
.swiper-slide .info h4{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
}
/*DR SRI JULIANA BIO*/
.biography img{
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5%;
}
.biography{
  background-color: #fff;
  border-radius: 10%;
  margin-top: 10%;
  
}
.biography h2{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
}
.biography p{
  text-align: center;
}
/*DR SRI JULIANA BIO*/
/*-------------------*/
/*ARIF BIO*/
.biography2 img{
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5%;
}
.biography2{
  background-color: #fff;
  border-radius: 10%;
  margin-top: 10%;
  
}
.biography2 h2{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
}
.biography2 p{
  text-align: center;
}
.heartmath {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*ARIF BIO*/ 
/*-------------------*/
/*IDRIS BIO*/ 
.biography3 img{
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5%;
}
.biography3{
  background-color: #fff;
  border-radius: 10%;
  margin-top: 10%;
  
}
.biography3 h2{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
}
.biography3 p{
  text-align: center;
}
/*CUSTOMER TESTIMONIALS*/ 
.clientswiper {
  color: #000;
  background-color: #fff;
  border-radius: 3%;
  font-family: 'Poppins';
}
.ProgramsSwiper {
  color: #000;
  border-radius: 3%;
  margin-top: 4%;
}

/*LOGIN PAGE*/
.box-area{
  width: 930px;
}
.right-box{
  padding: 40px 30px 40px 40px;
}
::placeholder{
  font-size: 16px;
}
.forgotlink{
  padding-left: 189px;
}
@media only screen and (max-width: 768px){
  .box-area{
    margin: 0 10px;
  }
  .left-box{
    height: 100px;
    overflow: hidden;
  }
  .right-box{
    padding: 20px;
  }
}












































/*ONE TIME IMPLEMENTATION*/
.feedback{
  padding-top: 10%;
}
.aboutus {
  padding-bottom: 3%;
}
.learnmore{
  padding-bottom: 3%;
  padding-top: 3%;
}
#prog-4{
height: auto;
max-width: 80%;
}
#prog-2{
  height: auto;
  max-width: 50%;
}
#prog-1{
  height: auto;
  max-width: 50%;
}
#prog-3{
  height: auto;
  max-width: 50%;
}
.hovertext1{
  text-transform: uppercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  margin-top: 5%;
  outline: none;
  text-align: center;
}
.hovertext1:hover{
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}
.hovertext2{
  text-transform: uppercase;
  letter-spacing: -1.2px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  margin-top: 5%;
  outline: none;
  text-align: center;
}
.hovertext2:hover{
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}
.rembox{
  margin-left: 10px;
}
.forgetlink{
  padding-left: 200px;
}
